; Top-most EditorConfig file
root = true

[*.cs]
indent_style = space
indent_size = 4


[*.cs]
dotnet_diagnostic.CS1591.severity = none
dotnet_sort_system_directives_first = true

[*.csproj]
indent_style = space
indent_size = 2

[*.props]
indent_style = space
indent_size = 2

[*.yml]
indent_style = space
indent_size = 2  